.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 320px);
    padding: 40px 0 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 0 10px 10px var(--secondaryColor);
}

.gitWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1070px;
    margin: 0 auto 20px;


}

.gitlink {
    position: relative;
    width: 100%;
    height: 40px;
}

.gitlink a {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    width: 150px;
    height: 40px;
    font-weight: 700;
}

.gitlink a:first-letter {
    color: var(--firstLetter);
}

.gitlink a:visited {
    color: var(--primaryColor)
}
