.header {
    position: relative;
    background: linear-gradient(transparent 100px, var(--secondaryColor) 100px,var(--secondaryColor)),
                linear-gradient(90deg, rgb(0, 0, 0) 10%, var(--centralColor) 50%, rgb(0, 0, 0) 90%),
                linear-gradient(transparent 100px, var(--secondaryColor) 100px, var(--secondaryColor));
    box-shadow:   30px 30px 10px 10px var(--secondaryColor);
    z-index: 2;
}

.container {
    position: relative;
    display: flex;
    height: 200px;
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto 30px;


}

.container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: var(--primaryColor);
    transform: translateX(-50%);
}
