.logo__container {
    width: auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 180px;
}
.logo {
    width:  150px;
    height: 150px;
    color: green;
    flex: 0 0 auto;
}
.logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
h3 {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;

}
h3::first-letter {
    color: #A60E00;
    font-weight: 700;

}