.footer {
    position: relative;
    background: linear-gradient(transparent 100px, white 100px, white),
                linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(13, 3, 3) 10%, rgb(190, 51, 51) 50%, rgb(0, 0, 0) 90%);
    box-shadow:   -10px 0 10px 10px white;
    z-index: 2;
    margin-top: auto;
    color: white;
}
.container {
    position: relative;
    display: flex;

    height: 50px;
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;


}
.visitsContainer {
    display: flex;
    gap: 30px;

}